parameters:
	phpVersion: 80200
	level: 3
	paths:
		- src
		- tests
includes:
	- vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
